body {
    font-family: 'Comic Sans MS', cursive; /* Fun, meme-y font */
    margin: 0;
    color: #333;
    background-color: #e8f2ff; /* Light, playful background */
}

h4 {
    font-size: 5vh;
}

h2 {
    font-size: 4vh; /* 5% of viewport width */
}
p {
    font-size: 3vh; /* 2% of viewport height */
}

header {
    background-color: #ffdd55; /* Bold yellow */
    color: #243EA0; /* Dark blue contrast  */
    padding: 1em 0;
    text-align: center;
    font-size: 8vw;
}

/* Keep the hero section similar */

.features {
    text-align: center;
    padding: 2em;
}

.hero{
    margin-top: .5em;
    text-align: center;

}

/* ... feature-grid, feature styles remain similar */

button {
    background-color: #00d1b2; /* Original color */
    color: white;
    padding: 1em 4em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #02b3a4; /* Darker shade for hover */
}


#pepper {
    width: 25%;
    border: .2em solid #b36E00;
}

#logo {
    width: 50%;
    border-radius: 50%;
    border: .5em solid black;
}

.diamond-hands {
    max-width: 50%;
}

.chart {
    max-width: 50%;
}

.meme {
    max-width: 50%;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
  