@media (min-width: 1024px) { /* This applies to screens wider than 1024px */
    #logo {
        max-width: 25%; /* Smaller max-width for larger screens */
        border-radius: 50%;
        height: auto;
        border: 1vh solid black;
    }

    h1{
        font-size: 5vh;
    }
    h2 {
        font-size: 2vh;
        font-size: max(36px, 4vh); /* Use the max() function to set a maximum font size */
    }
    
    h4 {
        font-size: 3vh;
        font-size: max(48px, 5vh); /* Use the max() function to set a maximum font size */
    }
    
    p {
        font-size: 1.4vh;
        font-size: max(24px, 3vh); /* Use the max() function to set a maximum font size */
    }
    header {
        background-color: #ffdd55; /* Bold yellow */
        color: #243EA0; /* Dark blue contrast  */
        padding: 1em 0;
        text-align: center;
        font-size: 8vw;
    }

    /* Keep the hero section similar */

    .features {
        text-align: center;
        padding: 2em;
    }

    .hero {
        background: url('pepperoniisan.png') no-repeat center center;
        background-size: cover;
        height: 300px; /* Adjust the height as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero-content {
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
        padding: 20px;
        border-radius: 10px;
    }

    a.button {
        display: inline-block;
        padding: 4vw 16vw 2vw; /* Increased padding for a larger button */
        background-color: #4CAF50; /* Example button color, consider using a gradient for a more appealing look */
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 8px; /* Slightly larger radius for a softer look */
        font-weight: bold;
        font-size: 1.2em; /* Larger font size for better visibility */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow for depth */
        transition: all 0.3s; /* Smooth transition for hover effects */
        /* Other styles remain the same */
        text-decoration: underline;
        background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    }

    a.button:hover {
        background-color: #45a049; /* Darker shade for hover effect */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for a "lifting" effect */
        transform: translateY(-2px); /* Slight upward movement on hover */
        /* Other styles remain the same */
        text-decoration: none;
        background-image: linear-gradient(to right, #2b957a, #34c89a, #2b957a);
    }

    .diamond-hands {
        max-width: 50%;
    }

    .chart {
        max-width: 50%;
    }

    .meme {
        max-width: 50%;
    }

    .borel-regular {
        font-family: "Borel", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
}

@media (max-width: 1024px) {
    
    #logo {
        max-width: 50%; /* Adjust the max-width to a suitable size for desktop */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%;
        border: 10px solid black;
    }


    body {
        font-family: 'Comic Sans MS', cursive; /* Fun, meme-y font */
        margin: 0;
        color: #333;
        background-color: #e8f2ff; /* Light, playful background */
    }

    h2 {
        font-size: 4vh;
        font-size: max(36px, 4vh); /* Use the max() function to set a maximum font size */
    }

    h4 {
        font-size: 5vh;
        font-size: max(48px, 5vh); /* Use the max() function to set a maximum font size */
    }

    p {
        font-size: 3vh;
        font-size: max(24px, 3vh); /* Use the max() function to set a maximum font size */
    }

    header {
        background-color: #ffdd55; /* Bold yellow */
        color: #243EA0; /* Dark blue contrast  */
        padding: 1em 0;
        text-align: center;
        font-size: 8vw;
    }

    /* Keep the hero section similar */

    .features {
        text-align: center;
        padding: 2em;
    }

    .hero {
        background: url('pepperoniisan.png') no-repeat center center;
        background-size: cover;
        height: 300px; /* Adjust the height as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero-content {
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
        padding: 20px;
        border-radius: 10px;
    }

    a.button {
        display: inline-block;
        padding: 4vw 16vw 2vw; /* Increased padding for a larger button */
        background-color: #4CAF50; /* Example button color, consider using a gradient for a more appealing look */
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 8px; /* Slightly larger radius for a softer look */
        font-weight: bold;
        font-size: 1.2em; /* Larger font size for better visibility */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow for depth */
        transition: all 0.3s; /* Smooth transition for hover effects */
        /* Other styles remain the same */
        text-decoration: underline;
        background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    }

    a.button:hover {
        background-color: #45a049; /* Darker shade for hover effect */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for a "lifting" effect */
        transform: translateY(-2px); /* Slight upward movement on hover */
        /* Other styles remain the same */
        text-decoration: none;
        background-image: linear-gradient(to right, #2b957a, #34c89a, #2b957a);
    }

    .diamond-hands {
        max-width: 50%;
    }

    .chart {
        max-width: 50%;
    }

    .meme {
        max-width: 50%;
    }

    .borel-regular {
        font-family: "Borel", cursive;
        font-weight: 400;
        font-style: normal;
    }
}

  
  